body{
    margin: 0;
    font-family: Anton,sans-serif;
    background-image: url('/img/estadio.jpg');
    background-attachment: fixed;

}

header{
    width: 100%;
    height: 100%;
    padding: 0;
    background-color: rgb(219, 17, 17);
    position: sticky;
    top: 0;
}

#logo-titulo{
    display: flex;

    & img{
        height: 10vh;
        width: auto;
        position: static;
    }

    & h1{
        color: white;
        font-weight: bold;
    }
}

#ocultar-logo{
    opacity: 0;
}

#titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;

}

nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgb(163, 10, 10);
    margin-top: 0;

    & a{
        color: white;
        text-decoration: none;
    }
}

main{
    flex: 1;

    & h1{
        font-weight: 800;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

footer{
    display: flex;
    background-color: black;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    bottom: 0;
    width: 100%;
    & a{
        text-decoration: none;
        color: white;
    }

    & p{
        color: white;
    }
}

#container-contenido{
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenido{
    border: 1px solid white;
    width: 70%;
    height: 500px;
    justify-content: center;
    display: flex;

    & div{
        width: 50%;
        border-right: 1px solid white;

        & img{
            width: 100%;
        }

        & p{
            color: white;
            padding-left: 10px;
            padding-right: 10px;
        }
    }
}

#contendor-form{
    height: 50%;
}
form{
    display: flex;
    flex-direction: column;
    color: white;
    width: 50%;
    height: 50%;
    margin: 0 auto;

}
