nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: blue;
    a{
        color: white;
        text-decoration: none;
    }
}

footer{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer a{
    text-decoration: none;
    color: white;
}
